@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

:root {
    --clr-bg: #1a1a1d;
    --clr-ft: #151517;
    --clr-ft-shdw: #101012;
    --clr-hd: #151517;
    --clr-hd-shdw: #101012;
    --clr-link: #323238;
    --clr-link-hover: #45454d;
    --clr-link-click: #676773;
    --clr-txt: #e1e1f2;
    --clr-accnt: #37aff7;
    --clr-accnt-click: #226b99;
}

/*WIP Custom Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background #111111;
}*/

body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    font-family: "Roboto Mono";
    font-size: 14px;
    margin: 0px;
    min-height: 100%;
}

footer {
    align-items: center;
    background-color: var(--clr-ft);
    box-shadow: 0px -5px 10px var(--clr-ft-shdw);
    display:flex;
    justify-content: space-between;
    padding: 0.5em 5%;
    width: calc(100% - 10%);
}

h1 {
    font-size: 60px;
    margin: 0px 0px 10px;
}

header {
    align-items: center;
    background-color: var(--clr-hd);
    box-shadow: 0px 5px 10px var(--clr-hd-shdw);
    display:flex;
    justify-content: space-between;
    padding: 1em 5%;
    position:fixed;
    width: calc(100% - 10%);
    z-index: 999;
}

html {
    scroll-behavior: smooth;
}

section {
    align-items: center;
    display:flex;
    height: calc(100vh - 5.80142em);
    justify-content: center;
}

section:first-of-type {
    padding-top: 3.47142em;
}

.credit {
    margin: 0px;
}

.fader {
    animation: fade ease var(--duration);
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
    display: flex;
}

.intro {
    max-width: 60ch;
}

.top-nav {
    align-items: center;
    display:flex;
}

.top-nav a:link {
    margin-left: 2ch;
    padding: 0.23571em 1ch;
    text-decoration: none;
}

.top-nav a:link, a:visited {
    background-color: var(--clr-link);
    border-radius: 0.50em;
    color:var(--clr-txt);
}

.top-nav a:hover {
    background-color: var(--clr-link-hover);
}

.top-nav a:active {
    background-color: var(--clr-link-click);
}

.typer {
    animation:
        type 1s steps(var(--char), end),
        blinking 1s step-end var(--numblink);
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
    border-right: .15em solid transparent;
    overflow: hidden;
    white-space: nowrap;
}

.typer-bounds {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#icon {
    height: 25px;
    object-fit: cover;
    width: 25px;
}

#profile-picture {
    border: 0.2em solid var(--clr-accnt);
    border-radius: 5% 30%;
    height: 200px;
    margin-right: 3em;
    object-fit: cover;
    width: 200px;
}

/**/@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--clr-accnt); }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes type {
    0% { width: 0 }
    100% { width: 100%  }
}/**/