@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

:root {
    --clr-bg: #1a1a1d;
    --clr-ft: #151517;
    --clr-ft-shdw: #101012;
    --clr-hd: #151517;
    --clr-hd-shdw: #101012;
    --clr-txt: #e1e1f2;
    --clr-txt-click: #a6a6b3;
    --clr-accnt: #37aff7;
    --clr-accnt-click: #226b99;
}

a {
    margin-left:2ch;
}

body {
    margin: 0px;
    min-height: 100%;
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    font-family: "Roboto Mono";
    font-size: 14px;
}

footer {
    box-shadow: 0px -5px 10px var(--clr-ft-shdw);
    background-color: var(--clr-ft);
    width: 100%;
}

h1 {
    margin: 0px 0px 10px;
    font-size: 60px;
}

header {
    box-shadow: 0px 5px 10px var(--clr-hd-shdw);
    background-color: var(--clr-hd);
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    position:fixed;
    z-index: 999;

}

html {
    scroll-behavior: smooth;
}

section {
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
}

.credit {
    margin: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 5vw;
}

.fader {
    display: flex;
    animation: fadeIn ease 0.5s;
    animation-delay: 3.5s;
    animation-fill-mode: backwards;
}

.intro {
    max-width: 60ch;
}

.top-nav {
    align: right;
    margin-right: 5vw;
    text-align: right;
    text-decoration: dashed;
}

.top-nav a:link, a:visited {
    padding-left: 1ch;
    padding-bottom: 0.25em;
    text-decoration: none;
    color:var(--clr-txt);
    border-left: solid var(--clr-accnt);
    border-bottom: solid var(--clr-accnt);
}

.top-nav a:hover, a:active {
    padding-left: 1ch;
    padding-bottom: 0.25em;
    text-decoration: none;
    color: var(--clr-txt-click);
    border-left: solid var(--clr-accnt-click);
    border-bottom: solid var(--clr-accnt-click);
}

.typer {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;
    animation: 
        typing 0.5s steps(var(--numType), end),
        blinking .75s step-end var(--numBlink);
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
}

.typer-bounds {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profile-picture {
    border-radius: 5% 30%;
    border: 3px solid var(--clr-accnt);
    margin-right: 3em;
}

/**/@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--clr-accnt); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes typing {
    0% { width: 0 }
    100% { width: 100%  }
}/**/