@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

/*TODO Reorder Classes & Elements*/
/*TODO Select professional font*/
/*TODO Create variables for most/all hardcoded values*/
/*TODO Variable Name Overhaul*/
/*TODO Recolor*/
:root {
    color-scheme: light;
    --clr-bg: hsl(240, 6%, 100%);
    --clr-hd:  hsla(240, 6%, 92%, 0.8);
    --clr-hd-shdw: hsl(240, 6%, 96%);
    --clr-txt: hsl(240, 6%, 11%);
    --clr-txt-click: hsl(240, 6%, 40%);
    --clr-txt-drk: hsl(240, 6%, 25%);
    --clr-accnt: hsl(203, 92%, 59%);
    --clr-accnt-click: hsl(203, 64%, 37%);
    --mn-mx-width: 1100px;
    --second-per-char: 10ms;
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: dark;
        --clr-bg:           hsl(240, 6%, 10%);
        --clr-hd:           hsla(240, 6%, 8%, 0.8);
        --clr-hd-shdw:      hsl(240, 6%, 4%);
        --clr-txt:          hsl(240, 6%, 89%);
        --clr-txt-click:    hsl(240, 6%, 60%);
        --clr-txt-drk:      hsl(240, 6%, 75%);
        --clr-accnt:        hsl(203, 92%, 59%);
        --clr-accnt-click:  hsl(203, 64%, 37%);
        --mn-mx-width: 1100px;
        --second-per-char: 10ms;
    }
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    display: flex;
    font-family:monospace;
    font-size: 16px;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
}

footer {
    background-color: var(--clr-ft);
    box-shadow: 0px -5px 10px var(--clr-ft-shdw);
    margin-top: auto;
    width: 100%;
}

h1 {
    font-size: 60px;
    margin: 0px 0px 10px;
}

header {
    backdrop-filter: blur(0.2em);
    background-color: var(--clr-hd);
    box-shadow: 0px 5px 10px var(--clr-hd-shdw);
    margin: 0px;
    padding: 0.5em 0px;
    position: sticky;
    top: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--mn-mx-width);
    width: 100%;
}

/*TODO Projects Section*/
/*TODO About Section*/
/*TODO Contact Section*/
/*TODO create visual border for sections (have a default border and create individuals on demand as necessary)*/
section {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

.credit {
    color: var(--clr-txt-drk);
    display:flex;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: center;
    margin: 0px;
    text-align: center;
}

.design {
    height: 20em;
    width: 100%;
    background-color: var(--clr-bg);
    border-radius: 2em;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--clr-bg) 50px ), repeating-linear-gradient( var(--clr-accnt), var(--clr-accnt) );
}

.fader {
    animation: fade ease var(--duration);
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
    display: flex;
}

.intro {
    max-width: 60ch;
}

.top-nav {
    align-items: center;
    display:flex;
}

.top-nav a:link {
    margin-left: 2ch;
    text-decoration: none;
}

.top-nav a:link, a:visited {
    color:var(--clr-txt);
}

.top-nav a:hover {
    color: var(--clr-accnt);
}

.top-nav a:active {
    color: var(--clr-accnt-click);
}

.typing {
    animation:
        type calc(var(--char) * var(--second-per-char)) steps(var(--char), end),
        blinking 1s step-end calc(var(--char) * var(--second-per-char)) var(--num-blink);
    animation-delay: calc(var(--delay-char) * var(--second-per-char));
    animation-fill-mode: backwards;
    border-right: .15em solid transparent;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.typing-bounds {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#footer-content {
    margin: auto;
    max-width: var(--mn-mx-width);
    width: 100%;
    z-index: 997;
}

#index {
    align-items: center;
    box-shadow: 0px 0px 4px 4px var(--clr-hd-shdw);
    display: flex;
    justify-content: center;
}

#header-content {
    align-items: center;
    display:flex;
    justify-content: space-between;
    margin: auto;
    max-width: var(--mn-mx-width);
    width: 100%;
    z-index: 997;
}

#logo {
    border-radius: 100%;
    height: 25px;
    margin-right: 2ch;
    object-fit: cover;
    transition: 0.2s;
    width: 25px;
}

#logo-bounds {
    align-items: center;
    display:flex;
    justify-content: space-between;
}

#logo-link {
text-decoration: none;
}

#logo-text {
    margin: 0px;
}

#profile-picture {
    border: 3px solid var(--clr-accnt);
    border-radius: 5% 30%;
    height: 200px;
    margin-right: 3em;
    object-fit: cover;
    width: 200px;
}

/**/@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--clr-accnt); }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes type {
    0% { width: 0; border-color: transparent;}
    1% { border-color: var(--clr-accnt);}
    100% { width: 100%; border-color: var(--clr-accnt);}
}/**/