@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

/*TODO Reorder Classes & Elements*/
/*TODO Select professional font*/
/*TODO Create variables for most/all hardcoded values*/
/*TODO Variable Name Overhaul*/
/*TODO Recolor*/
:root {
    color-scheme: light;
    --clr-bg:               hsl(240, 6%, 90%);
    --clr-crt-bg:           hsl(240, 6%, 25%);
    --clr-hd:               hsla(240, 6%, 92%, 0.8);
    --clr-hd-shdw:          hsl(240, 6%, 88%);
    --clr-txt:              hsl(240, 6%, 11%);
    --clr-txt-click:        hsl(240, 6%, 40%);
    --clr-txt-drk:          hsl(240, 6%, 25%);
    --clr-accnt:            hsl(203, 92%, 50%);
    --clr-accnt-click:      hsl(203, 64%, 63%);
    --mn-mx-width:          1100px;
    --second-per-char:      10ms;
    --crt-hr:               180deg;
    --crt-s:                0;
    --crt-b:                0.75;
    --crt-gs:               50%;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --clr-bg:               hsl(240, 6%, 10%);
        --clr-crt-bg:           hsl(240, 6%, 15%);
        --clr-hd:               hsla(240, 6%, 8%, 0.8);
        --clr-hd-shdw:          hsl(240, 6%, 4%);
        --clr-txt:              hsl(240, 6%, 89%);
        --clr-txt-click:        hsl(240, 6%, 60%);
        --clr-txt-drk:          hsl(240, 6%, 75%);
        --clr-accnt:            hsl(203, 92%, 50%);
        --clr-accnt-click:      hsl(203, 64%, 37%);
        --mn-mx-width:          1100px;
        --second-per-char:      10ms;
        --crt-hr:               180deg;
        --crt-s:                1;
        --crt-b:                0.25;
        --crt-gs:               50%;
    }
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    display: flex;
    font: 16px monospace;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    width: 100%;
}

footer {
    background-color: var(--clr-ft);
    margin-top: auto;
    width: 100%;
}

header {
    backdrop-filter: blur(0.2em);
    background-color: var(--clr-hd);
    box-shadow: 0px 5px 10px var(--clr-hd-shdw);
    margin: 0px;
    padding: 0.5em 0px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 997;
}

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--mn-mx-width);
    width: 100%;
}

/*TODO Projects Section*/
/*TODO About Section*/
/*TODO Contact Section*/
/*TODO create visual border for sections (have a default border and create individuals on demand as necessary)*/
section {
    margin: 3em auto 0;
}

section#index {
    display: flex;
    position: relative;
}

.credit {
    color: var(--clr-txt-drk);
    display:flex;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: center;
    margin: 0px;
    text-align: center;
}

.crt-content {
    color: var(--clr-accnt);
    background-color: var(--clr-crt-bg);
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.crt-overlay {
    box-shadow: 0px 0px 5px 5px var(--clr-hd-shdw);
    height: auto;
    z-index: 2;
    filter: hue-rotate(var(--crt-hr)) saturate(var(--crt-s)) brightness(var(--crt-b)) grayscale(var(--crt-gs));
}

.design {
    height: 20em;
    width: 100%;
    background-color: var(--clr-bg);
    border-radius: 2em;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--clr-bg) 50px ), repeating-linear-gradient( var(--clr-accnt), var(--clr-accnt) );
}

.fader {
    animation: fade var(--duration) ease var(--delay) backwards;
    display: flex;
}

.intro {
    max-width: 60ch;
}

.top-nav {
    align-items: center;
    display:flex;
}

.top-nav-link{
    margin-right: 2ch;
}

.top-nav-link:last-child{
    margin-right: 0;
}

.top-nav a:link, #logo-link {
    text-decoration: none;
}

.top-nav a:link, .top-nav a:visited, a:link#logo-link, a:visited#logo-link {
    color:var(--clr-txt);
}

.top-nav a:hover, a:hover#logo-link {
    color: var(--clr-accnt);
}

.top-nav a:active, a:active#logo-link {
    color: var(--clr-accnt-click);
}

.typing {
    animation:
        type calc(var(--char) * var(--second-per-char)) steps(var(--char), end) backwards,
        cursor calc(var(--char) * var(--second-per-char)) steps(var(--char), end),
        blinking 1s step-end calc(var(--char) * var(--second-per-char)) var(--num-blink);
    animation-delay: calc(var(--delay-char) * var(--second-per-char));
    border-right: .15em solid transparent;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.typing-bounds {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#footer-content {
    margin: auto;
    max-width: var(--mn-mx-width);
    width: 100%;
}

#header-content {
    align-items: center;
    display:flex;
    justify-content: space-between;
    margin: auto;
    max-width: var(--mn-mx-width);
    width: 100%;
}

#logo {
    border-radius: 100%;
    height: 25px;
    margin-right: 2ch;
    object-fit: cover;
    transition: 0.2s;
    width: 25px;
}

#logo-bounds {
    align-items: center;
    display:flex;
}

#logo-text {
    margin: 0px;
}

#profile-picture {
    border: 3px solid var(--clr-accnt);
    border-radius: 5% 30%;
    height: 200px;
    margin-right: 3em;
    object-fit: cover;
    width: 200px;
}

/**/@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--clr-accnt); }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes cursor {
    100% { border-color: var(--clr-accnt);}
}

@keyframes type {
    0% { width: 0; }
    100% { width: 100%; }
}
