/*TODO Create variables for most/all hardcoded values*/
/*TODO Variable Name Overhaul*/
/*TODO Add blue to all headers & topnav*/
:root {
    color-scheme: light;
    --clr-bg:               hsl(240, 6%, 90%);
    --clr-crt-bg:           hsl(240, 6%, 100%);
    --clr-hd:               hsla(240, 6%, 100%, 0.8);
    --clr-hd-shdw:          hsl(240, 6%, 70%);
    --clr-txt:              hsl(240, 6%, 11%);
    --clr-txt-click:        hsl(240, 6%, 40%);
    --clr-txt-drk:          hsl(240, 6%, 25%);
    --clr-accnt:            hsl(205, 100%, 50%);
    --clr-accnt-click:      hsl(205, 100%, 37%);
    --clr-accnt-light:      hsl(205, 100%, 50%);
    --mn-mx-width:          1100px;
    --mn-padding:           1%;
    --border-radius:        0.5em;
    --second-per-char:      10ms;
    --crt-hr:               180deg;
    --crt-s:                0;
    --crt-b:                1;
    --crt-gs:               0%;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --clr-bg:               hsl(240, 6%, 10%);
        --clr-crt-bg:           hsl(240, 6%, 15%);
        --clr-section-bg:       hsl(240, 6%, 20%);
        --clr-hd:               hsla(240, 6%, 8%, 0.8);
        --clr-hd-shdw:          hsl(240, 6%, 4%);
        --clr-txt:              hsl(240, 6%, 89%);
        --clr-txt-click:        hsl(240, 6%, 60%);
        --clr-txt-drk:          hsl(240, 6%, 75%);
        --crt-s:                1.5;
        --crt-b:                0.15;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    font: 1.2em monospace;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

header {
    backdrop-filter: blur(0.2em);
    background-color: var(--clr-hd);
    box-shadow: 0 0 0.4em 0.4em var(--clr-hd-shdw);
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    padding: 1em max(calc((100% - var(--mn-mx-width)) / 2), var(--mn-padding));
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 997;
}

footer {
    background-color: var(--clr-ft);
    box-sizing: border-box;
    margin-top: auto;
    padding: 0 max(calc((100% - var(--mn-mx-width)) / 2), var(--mn-padding));
}

main {
    margin: 0 auto;
    max-width: var(--mn-mx-width);
    padding: 0 var(--mn-padding);
}

/*TODO Projects Section*/
/*TODO About Section*/
/*TODO Contact Section*/
/*TODO create visual border for sections*/
section {
    background-color: var(--clr-crt-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.4em 0.4em var(--clr-hd-shdw);
    margin: 3em 0 0;
    padding: 10px;
    scroll-margin-top: 7em;
}

section#index {
    padding: 0;
    display: flex;
    position: relative;
}

section#contact {
    display: flex;
    justify-content: space-between;
}

section#about p {
    text-indent: 4ch;
}

h4.credits {
    text-align: center;
}

.accent {
    color: var(--clr-accnt);
}

a.logo {
    align-items: center;
    display:flex;
    font-size: 1.5em;
    font-weight: bolder;
}

nav.top-nav {
    align-items: center;
    display:flex;
}

nav.top-nav a{
    font-size: 1.25em;
    font-weight: bolder;
    margin-right: 2ch;
}

nav.top-nav a:last-child{
    margin-right: 0;
}

a.logo, nav.top-nav a:link {
    text-decoration: none;
}

a:link.logo, a:visited.logo, nav.top-nav a:link, .top-nav a:visited {
    color:var(--clr-txt);
}

a:hover.logo, nav.top-nav a:hover {
    color: var(--clr-accnt);
}

a:active.logo, nav.top-nav a:active {
    color: var(--clr-accnt-click);
}

img.logo-image {
    margin: 0 1ch;
    height: 1em;
    object-fit: cover;
    transition: 0.2s;
    width: 1em;
}

img.profile-picture {
    border: 3px solid var(--clr-txt);
    border-radius: 5% 30%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.crt-content {
    align-items: center;
    color: var(--clr-accnt);
    border-radius: var(--border-radius);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.crt-monitor-overlay {
    aspect-ratio: 2.4;
    border-radius: var(--border-radius);
    z-index: 2;
    filter: hue-rotate(var(--crt-hr))
            saturate(var(--crt-s))
            brightness(var(--crt-b))
            grayscale(var(--crt-gs));
    width: 100%;
    }

.fader {
    animation: fade var(--duration) ease var(--delay) backwards;
    display: flex;
}

/*TODO typing sound effect (and monitor turn on?)*/
.typing {
    animation:
        type calc(var(--char) * var(--second-per-char)) steps(var(--char), end) backwards,
        cursor calc(var(--char) * var(--second-per-char)) steps(var(--char), end),
        blinking 1s step-end calc(var(--char) * var(--second-per-char)) var(--num-blink);
    animation-delay: calc(var(--delay-char) * var(--second-per-char));
    border-right: .15em solid transparent;
    overflow: hidden;
    white-space: pre;
    margin: 0 0 0 2ch;
}

.typing-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--clr-accnt); }
}

@keyframes cursor {
    100% { border-color: var(--clr-accnt);}
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes type {
    0% { max-width: 0; }
    100% { max-width: 100%; }
}

input[type=text], input[type=email], select, textarea {
    border: 1px solid var(clr-txt);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-top: 0.45em;
    margin-bottom: 1.2em;
    padding: 0.9em;
    resize: vertical;
    width: 100%;
}

input[type=submit] {
    background: var(--clr-crt-bg);
    border: 0.25em solid var(--clr-accnt);
    border-radius: calc(var(--border-radius) * 4);
    color: var(--clr-accnt);
    cursor: pointer;
    font-weight: bold;
    padding: 1em 2ch;
}

input[type=submit]:hover {
    border-color: var(--clr-accnt-click);
    color: var(--clr-accnt-click);
}

input[type=submit]:active {
    border-color: var(--clr-accnt-light);
    color: var(--clr-accnt-light);
}

.container {
    width: calc(50% - 5px);
    padding-top: 1em;
}

.container h1:first-child{
    margin: 0;
}

@media screen and (max-width: 1200px) {

    header {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    section:first-child {
        margin-top: 1%;
    }

    h3.typing {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px) {

    header {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    section:first-child {
        margin-top: 1%;
    }

    section#contact {
        display: revert;
        justify-content: revert;
    }

    nav.top-nav {
        display:none;
    }

    img.profile-picture {
        display: none;
    }

    .container {
        width: 100%;
    }
}