:root {
    color-scheme: light;

    /* Colors */
    --clr-neutral:              hsl(205, 10%, 95%);

    --clr-dark-neutral:         hsl(205, 10%, 10%);
    --clr-dark-neutral-lt:      hsl(205, 10%, 20%);
    --clr-dark-neutral-ltr:     hsl(205, 10%, 30%);

    --clr-primary:              hsl(205, 10%, 100%);
    --clr-primary-dk:           hsl(205, 10%, 95%);
    --clr-primary-dk-crt:       hsl(200, 10%, 95%);

    --clr-secondary:            hsl(205, 10%, 100%);
    --clr-secondary-tl:         hsla(205, 10%, 100%, 0.8);

    --clr-mask-dk:              hsla(0, 0%, 0%, 0.1);
    --clr-mask-dkr:             hsla(0, 0%, 0%, 0.2);
    --clr-box-shadow:           hsla(0, 0%, 0%, 0.16);

    --clr-accent:               hsl(205, 100%, 50%);
    --clr-accent-lt:            hsl(205, 100%, 60%);
    --clr-accent-ltr:           hsl(205, 100%, 70%);
    --clr-accent-dk:            hsl(205, 100%, 37%);
    --clr-accent-dkr:           hsl(205, 100%, 24%);

    /* Fonts */
    --fs-base:                  1.2em;
    --fs-logo:                  1.5em;
    --fs-top-nav:               1.25em;
    /* … */
    
    /* Box Model Spacing */
    --bm-main-p:                1vw;
    --bm-section-m:             2em;
    --bm-section-p:             10px;
    --bm-article-m:             2em;
    /* … */
    
    /* Utility */
    --border-radius:            10px;
    /* … */

    /* Page */
    --main-mx-width:            1100px;
    /* … */
    
    /* Typing Effect */
    --time-per-char:            10ms;
    /* … */

    /* Image Filter */
    --crt-hr:                   150deg;
    --crt-s:                    0;
    --crt-b:                    1;
    --crt-gs:                   0%;
    /* … */
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        /* Colors */
        --clr-neutral:              hsl(205, 10%, 10%);

        --clr-dark-neutral:         hsl(205, 10%, 89%);
        --clr-dark-neutral-lt:      hsl(205, 10%, 75%);
        --clr-dark-neutral-ltr:     hsl(205, 10%, 60%);

        --clr-primary:              hsl(205, 10%, 20%);
        --clr-primary-dk:           hsl(205, 10%, 25%);
        --clr-primary-dk-crt:       hsl(200, 10%, 27%);

        --clr-secondary:            hsl(205, 10%, 15%);
        --clr-secondary-tl:         hsla(205, 10%, 8%, 0.8);

        --clr-mask-dk:              hsla(0, 0%, 100%, 0.1);
        --clr-mask-dkr:             hsla(0, 0%, 100%, 0.2);
        /* … */

        /* Image Filter */
        --crt-s:                    1.3;
        --crt-b:                    0.20;
        /* … */
    }
    /* … */
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    /* … */
}

body {
    background-color: var(--clr-neutral);
    color: var(--clr-dark-neutral);
    font: var(--fs-base) monospace;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    /* … */
}

header {
    backdrop-filter: blur(0.2em);
    background-color: var(--clr-secondary-tl);
    box-shadow: 0 0 10px var(--clr-box-shadow);
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    padding: 0 calc(max((100% - var(--main-mx-width)) / 2, var(--bm-main-p)));
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 997;
    /* … */
}

header > * {
    margin-right: var(--bm-section-p);
    /* … */
}

footer {
    background-color: var(--clr-secondary);
    box-shadow: 0 0 10px var(--clr-box-shadow);
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    padding: 0 calc(max((100% - var(--main-mx-width)) / 2, var(--bm-main-p)) + var(--bm-section-p));
    /* … */
}

main {
    margin: 0 auto;
    max-width: var(--main-mx-width);
    padding: 0 var(--bm-main-p);
    /* … */
}

section {
    align-items: center;
    background-color: var(--clr-primary-dk);
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px var(--clr-box-shadow), 0 6px 6px var(--clr-box-shadow);
    display: flex;
    flex-direction: column;
    margin: var(--bm-section-m) 0;
    position: relative;
    /* … */
}

#index {
    background-color: var(--clr-primary-dk-crt);
    /* … */
}

article {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: var(--bm-article-m) 0;
    position: relative;
    /* … */
}

article:nth-child(odd) {
    flex-direction: row-reverse;
}

article > * {
    box-sizing: border-box;
    margin: 0 var(--bm-section-p);
    max-width: 50%;
    /* … */
}

a:link.logo, a:visited.logo {
    color:var(--clr-dark-neutral);
    text-decoration: none;
    /* … */
}

h1 {
    background-color: var(--clr-primary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: 0 10px 20px var(--clr-box-shadow), 0 6px 6px var(--clr-box-shadow);
    box-sizing: border-box;
    margin: 0;
    padding: 0.83em var(--bm-section-p);
    position: relative;
    width: 100%;
    /* … */
}

input[type=text],
input[type=email],
select,
textarea {
    background: var(--clr-primary-dk);
    border: 1px solid var(--clr-dark-neutral);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin: 1em 0;
    padding: 1em;
    resize: vertical;
    width: 100%;
    /* … */
}

input::placeholder,
textarea::placeholder {
    color: var(--clr-dark-neutral);
    opacity: 0.35;
    /* … */
}

input[type=submit] {
    background: var(--clr-accent);
    border: none;
    border-radius: calc(3 * var(--fs-base));
    color: var(--clr-primary-dk);
    cursor: pointer;
    font-weight: bold;
    padding: 1em 2ch;
    /* … */
}

input[type=submit]:hover {
    background-color: var(--clr-accent-lt);
    /* … */
}

input[type=submit]:active {
    background-color: var(--clr-accent-ltr);
    /* … */
}

input[type=reset] {
    background: var(--clr-primary-drk);
    border: none;
    border-radius: calc(3 * var(--fs-base));
    color: var(--clr-dark-neutral);
    cursor: pointer;
    font-weight: bold;
    padding: 1em 2ch;
    /* … */
}

input[type=reset]:hover {
    background-color: var(--clr-mask-dk);
    /* … */
}

input[type=reset]:active {
    background-color: var(--clr-mask-dkr);
    /* … */
}

.brian-temple-headshot {
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px var(--clr-box-shadow), 0 6px 6px var(--clr-box-shadow);
    box-sizing: border-box;
    height: 200px;
    object-fit: cover;
    width: 200px;
    /* … */
}

.contact-link {
    align-items: center;
    color: var(--clr-dark-neutral);
    display:flex;
    text-decoration: none;
    /* … */
}

.contact-link:hover {
    color: var(--clr-dark-neutral-lt);
    /* … */
}

.contact-link:active {
    color: var(--clr-dark-neutral-ltr);
    /* … */
}

.contact-link > * {
    margin-right:var(--bm-section-p);
    /* … */
}

.contact-link-image {
    filter: invert(44%) sepia(67%) saturate(3505%) hue-rotate(183deg) brightness(100%) contrast(105%);
    height: 25px;
    width: 25px;
    /* … */
}

.contact-link-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    /* … */
}

.crt-container {
    align-items: center;
    color: var(--clr-accent);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 6% 12% 7%;
    position: absolute;
    width: 100%;
    /* … */
}

.crt-typing-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    /* … */
}

.crt-typing {
    animation:
        type calc(var(--char) * var(--time-per-char)) steps(var(--char), end) backwards,
        cursor calc(var(--char) * var(--time-per-char)) steps(var(--char), end),
        blinking 1s step-end calc(var(--char) * var(--time-per-char)) var(--num-blink);
    animation-delay: calc(var(--delay-char) * var(--time-per-char));
    border-right: .15em solid transparent;
    font-size: min(2vw, 1.5em);
    overflow: hidden;
    margin: 0;
    white-space: pre;
    /* … */
}

.crt-monitor-overlay {
    aspect-ratio: 2.4;
    border-radius: var(--border-radius);
    filter: hue-rotate(var(--crt-hr))
            saturate(var(--crt-s))
            brightness(var(--crt-b))
            grayscale(var(--crt-gs));
    width: 100%;
    z-index: 2;
    /* … */
}

.form-buttons {
    float: right;
}

.project-preview {
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px var(--clr-box-shadow), 0 6px 6px var(--clr-box-shadow);
    box-sizing: border-box;
    height: 20em;
    object-fit: contain;
    /* … */
}

/* || UTILITIES */

.accent {
    color: var(--clr-accent);
    /* … */
}

/* || SITE-WIDE */

.logo {
    align-items: center;
    display:flex;
    font-size: var(--fs-logo);
    font-weight: bolder;
    /* … */
}

.logo > * {
    margin-left:var(--bm-section-p);
    /* … */
}

.logo-icon {
    height: 0.9em;
    /* … */
}

.logo-wordmark {
   white-space: nowrap;
    /* … */
}

nav.top-nav {
    align-items: center;
    display:flex;
    justify-content: space-around;
    width: 100%;
    /* … */
}

nav.top-nav a{
    border-radius: calc(4 * var(--border-radius));
    font-size: var(--fs-top-nav);
    font-weight: bolder;
    padding: 0.1em 0.1em 0.4em;
    /* … */
}

nav.top-nav a:link {
    text-decoration: none;
    /* … */
}

nav.top-nav a:link,
nav.top-nav a:visited {
    color:var(--clr-dark-neutral);
    /* … */
}

nav.top-nav a:hover {
    background-color: var(--clr-mask-dk);
    /* … */
}

nav.top-nav a:active {
    background-color: var(--clr-mask-dkr);
    /* … */
}

/* || ANIMATION */

@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--clr-accent); }
    /* … */
}

@keyframes cursor {
    100% { border-color: var(--clr-accent);}
    /* … */
}

@keyframes type {
    0% { max-width: 0; }
    100% { max-width: 100%; }
    /* … */
}

@media screen and (max-width: 1100px) {

    :root {
        --bm-main-p:                4vw;
        --bm-section-m:             4em;
        --fs-base:                  1.7em;
        /* … */
    }

    header {
        align-items: center;
        flex-direction: column;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
        /* … */
    }

    nav.top-nav {
        justify-content: space-around;
        width: 100%;
        /* … */
    }

    nav.top-nav a{
        margin-right: 0;
        /* … */
    }
}