:root {
    color-scheme: light;

    --clr-neutral:              hsl(205, 10%, 95%);

    --clr-dark-neutral:         hsl(205, 10%, 10%);
    --clr-dark-neutral-lt:      hsl(205, 10%, 20%);
    --clr-dark-neutral-ltr:     hsl(205, 10%, 30%);

    --clr-primary:              hsl(205, 10%, 100%);

    --clr-secondary:            hsl(205, 10%, 100%);
    --clr-secondary-tl:         hsla(205, 10%, 100%, 0.8);

    --clr-mask-dk:              hsla(0, 0%, 0%, 0.1);
    --clr-mask-dkr:             hsla(0, 0%, 0%, 0.2);

    --clr-accent:               hsl(205, 100%, 50%);
    --clr-accent-lt:            hsl(205, 100%, 60%);
    --clr-accent-dk:            hsl(205, 100%, 37%);

    --mn-mx-width:              1100px;
    --mn-padding:               1%;
    --section-padding:          10px;
    --border-radius:            0.5em;
    --second-per-char:          10ms;
    --crt-hr:                   180deg;
    --crt-s:                    0;
    --crt-b:                    1;
    --crt-gs:                   0%;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --clr-neutral:              hsl(205, 6%, 10%);

        --clr-dark-neutral:         hsl(205, 6%, 89%);

        --clr-primary:              hsl(205, 6%, 20%);

        --clr-secondary:            hsl(205, 6%, 15%);
        --clr-secondary-tl:         hsla(205, 6%, 8%, 0.8);

        --clr-mask-dk:              hsla(0, 0%, 100%, 0.1);
        --clr-mask-dkr:             hsla(0, 0%, 100%, 0.2);

        --crt-s:                    1.5;
        --crt-b:                    0.15;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-neutral);
    color: var(--clr-dark-neutral);
    font: 1.2em monospace;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

header {
    backdrop-filter: blur(0.2em);
    background-color: var(--clr-secondary-tl);
    box-shadow: 0 0 0.3em 0.1em var(--clr-dark-neutral);
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    padding: 0.6em calc(max((100% - var(--mn-mx-width)) / 2, var(--mn-padding)) + var(--section-padding));
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 997;
}

footer {
    background-color: var(--clr-secondary);
    box-shadow: 0 0 0.3em 0.1em var(--clr-dark-neutral);
    box-sizing: border-box;
    margin-top: auto;
    padding: 1em calc(max((100% - var(--mn-mx-width)) / 2, var(--mn-padding)) + var(--section-padding));
}

main {
    margin: 0 auto;
    max-width: var(--mn-mx-width);
    padding: 0 var(--mn-padding);
}

/*TODO Projects Section*/
/*TODO About Section*/
/*TODO Contact Section*/
/*TODO create visual border for sections*/
section {
    background-color: var(--clr-primary);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.3em 0.1em var(--clr-dark-neutral);
    margin: 3em 0 0;
    padding: var(--section-padding);
    scroll-margin-top: 7em;
}

section:last-child {
    margin-bottom: 3em;
}

section#index {
    padding: 0;
    display: flex;
    position: relative;
}

section#contact {
    display: flex;
    justify-content: space-between;
}

section#about p {
    text-indent: 4ch;
}

h4.credits {
    text-align: center;
    margin: 0;
}

.accent {
    color: var(--clr-accent);
}

.logo {
    align-items: center;
    display:flex;
    font-size: 1.5em;
    font-weight: bolder;
}

.logo-icon {
    height: 23px;
    object-fit: cover;
    transition: 0.2s;
    width: 23px;
}

.logo-wordmark {
    margin: 0 0 0 1ch;
}

nav.top-nav {
    align-items: center;
    display:flex;
}

nav.top-nav a{
    font-size: 1.25em;
    font-weight: bolder;
    margin-right: 2ch;
    padding: 0.1em 0.1em 0.4em;
    border-radius: calc(var(--border-radius) * 4);
}

nav.top-nav a:last-child{
    margin-right: 0;
}

a.logo, nav.top-nav a:link {
    text-decoration: none;
}

a:link.logo, a:visited.logo, nav.top-nav a:link, .top-nav a:visited {
    color:var(--clr-dark-neutral);
}

nav.top-nav a:hover {
    background-color: var(--clr-mask-dk);
}

nav.top-nav a:active {
    background-color: var(--clr-mask-dkr);
}

.profile-picture {
    border: 3px solid var(--clr-accent);
    border-radius: 5% 30%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

/* TODO Upload properly colored crt monitor overlay */
.crt-content {
    align-items: center;
    color: var(--clr-accent);
    border-radius: var(--border-radius);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.crt-monitor-overlay {
    aspect-ratio: 2.4;
    border-radius: var(--border-radius);
    z-index: 2;
    filter: hue-rotate(var(--crt-hr))
            saturate(var(--crt-s))
            brightness(var(--crt-b))
            grayscale(var(--crt-gs));
    width: 100%;
    }

.fader {
    animation: fade var(--duration) ease var(--delay) backwards;
    display: flex;
}

/*TODO typing sound effect (and monitor turn on?)*/
.typing {
    animation:
        type calc(var(--char) * var(--second-per-char)) steps(var(--char), end) backwards,
        cursor calc(var(--char) * var(--second-per-char)) steps(var(--char), end),
        blinking 1s step-end calc(var(--char) * var(--second-per-char)) var(--num-blink);
    animation-delay: calc(var(--delay-char) * var(--second-per-char));
    border-right: .15em solid transparent;
    overflow: hidden;
    white-space: pre;
    margin: 0 0 0 2ch;
}

.typing-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--clr-accent); }
}

@keyframes cursor {
    100% { border-color: var(--clr-accent);}
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes type {
    0% { max-width: 0; }
    100% { max-width: 100%; }
}

input[type=text], input[type=email], select, textarea {
    background: var(--clr-primary);
    border: 1px solid var(--clr-dark-neutral);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-top: 0.45em;
    margin-bottom: 1.2em;
    padding: 0.9em;
    resize: vertical;
    width: 100%;
}

input[type=submit] {
    background: var(--clr-primary);
    border: 1px solid var(--clr-dark-neutral);
    border-radius: var(--border-radius);
    color: var(--clr-dark-neutral);
    cursor: pointer;
    font-weight: bold;
    padding: 1em 2ch;
}

input[type=submit]:hover {
}

input[type=submit]:active {
}

.container {
    width: calc(50% - 5px);
    padding-top: 1em;
}

.container h1:first-child{
    margin: 0;
}

@media screen and (max-width: 1200px) {

    header {
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }

    section:first-child {
        margin-top: 1%;
    }

    h3.typing {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px) {

    header {
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }

    section:first-child {
        margin-top: 1%;
    }

    section#contact {
        display: revert;
        justify-content: revert;
    }

    nav.top-nav {
        display:none;
    }

    img.profile-picture {
        display: none;
    }

    .container {
        width: 100%;
    }
}